@use '../base/variables' as *;

// もっと見るボタン
.c-btn-more{
    position: relative;
    display: block;
    width: 160px;
    margin-inline: auto;
    background-color: $color-theme-main;
    color: $color-text-inverse;
    text-align: center;
    border-radius: 100px;
    border: 2px solid transparent;
    padding: 10px;
    transition: background-color .3s ease, border-color .3s ease, color .3s ease;
    @include mq{
        width: 220px;
        padding: 16px;
    }
    &::after{
        content: "";
        position: absolute;
        // background-color: currentColor;
        // right: 0;
        top: 50%;
        translate: 0 -50%;
        width: rem(12);
        height: rem(12);
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        rotate: 45deg;
    }
    &:hover{
        background-color: $color-theme-base;
        border-color: $color-theme-main;
        color: $color-theme-main;
    }
}

// コンタクトフォームへのボタン
.c-btn-contact{
    position: relative;
    width: min(300px, 100%);
    height: 64px;
    line-height: 64px;
    background-color: $color-theme-accent;
    display: block;
    text-align: center;
    margin-inline: auto;
    border-radius: 10px;
    box-shadow: 0 5px 0 #bfbbb0;
    transition: box-shadow .3s ease, translate .3s ease;
    @include mq{
        width: 400px;
        height: 80px;
        line-height: 80px;
        font-size: rem(20);
    }
    &::after{
        content: "\f31c";
        font-family: "Font Awesome 7 Free";
        font-weight: 900;
        margin-left: .5em;
    }
    &:hover{
        box-shadow: none;
        translate: 0 5px;
    }
}