@use '../base/variables' as *;

.c-section-title{
    font-family: $font-family-en;
    font-size: rem(36);
    text-align: center;
    margin-bottom: $spacing-sp-sm;
    @include mq{
        font-size: rem(64);
        margin-bottom: $spacing-pc-sm;
    }
}

.c-page-title{
    font-family: $font-family-en;
    font-size: rem(64);
    text-align: center;
    margin-bottom: $spacing-sp-sm;
    @include mq{
        font-size: rem(120);
        margin-bottom: $spacing-pc-sm;
    }
}