@use '../base/variables' as *;

.l-footer{
    font-family: $font-family-ja;
    background-color: $color-theme-main;
    text-align: center;
    color: $color-text-inverse;
    &__flex{
        padding-block: rem(70);
        @include mq{
            display: flex;
            padding-block: rem(80);
            justify-content: space-between;
            align-items: center;
        }
    }
    &__logo{
        margin-bottom: rem(80);
        @include mq{
            width: 30%;
            margin-bottom: 0;
        }
    }
    &__logo-img{
        display: block;
        margin-inline: auto;
        width: 180px;
        @include mq{
            width: 200px;
        }
    }
    &__contact{
        margin-bottom: rem(80);
        @include mq{
            margin-bottom: 0;
            width: 30%;
        }
        &-x{
            display: flex;
            width: fit-content;
            gap: 10px;
            align-items: center;
            margin-inline: auto;
        }
        &-logo{
            display: inline-block;
            width: rem(16);
        }
        &-text{
            display: inline-block;
        }
    }
    &__nav{
        @include mq{
            text-align: center;
            width: 30%;
        }
    }
    &__list-item{
        &:not(:last-child){
            margin-bottom: rem(14);
            @include mq{
                margin-bottom: rem(16);
            }
        }
    }
    &__bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(8);
        font-size: rem(12);
        color: $color-theme-sub;
        @include mq{
            gap: rem(64);
        }
    }
    &__copy{
        font-size: rem(12);
    }
}