@charset "UTF-8";
body {
  scroll-behavior: smooth;
  background-color: #fdfcf8;
  font-size: 0.875rem;
  color: #1b263b;
  font-family: "Poiret One", "Noto Sans JP", sans-serif;
  line-height: 1.5;
}
@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

main {
  padding-top: 70px;
}
@media (min-width: 768px) {
  main {
    padding-top: 80px;
  }
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.l-main {
  padding-top: 170px;
  padding-bottom: 100px;
}
@media (min-width: 768px) {
  .l-main {
    padding-top: 240px;
    padding-bottom: 160px;
  }
}

.l-section {
  padding-block: 60px;
}
@media (min-width: 768px) {
  .l-section {
    padding-block: 80px;
  }
}

.l-inner {
  width: min(100%, 1080px);
  padding-inline: 1rem;
  margin-inline: auto;
}

.c-section-title {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .c-section-title {
    font-size: 4rem;
    margin-bottom: 60px;
  }
}

.c-page-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .c-page-title {
    font-size: 7.5rem;
    margin-bottom: 60px;
  }
}

.c-btn-more {
  display: block;
  width: 160px;
  margin-inline: auto;
  background-color: #778da9;
  color: #fdfcf8;
  text-align: center;
  border-radius: 100px;
  border: 2px solid transparent;
  padding: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
@media (min-width: 768px) {
  .c-btn-more {
    width: 220px;
    padding: 16px;
  }
}
.c-btn-more::after {
  content: "";
  position: absolute;
  background-color: currentColor;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  width: 0.875rem;
  height: 0.875rem;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  rotate: 45deg;
}
.c-btn-more:hover {
  background-color: #fdfcf8;
  border-color: #778da9;
  color: #778da9;
}

.c-btn-contact {
  position: relative;
  width: 300px;
  height: 64px;
  line-height: 64px;
  background-color: #f4d068;
  display: block;
  text-align: center;
  margin-inline: auto;
  border-radius: 10px;
  box-shadow: 0 5px 0 #bfbbb0;
  transition: box-shadow 0.3s ease, translate 0.3s ease;
}
@media (min-width: 768px) {
  .c-btn-contact {
    width: 400px;
    height: 80px;
    line-height: 80px;
    font-size: 1.25rem;
  }
}
.c-btn-contact::after {
  content: "\f31c";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  margin-left: 0.5em;
}
.c-btn-contact:hover {
  box-shadow: none;
  translate: 0 5px;
}

.l-header {
  background-color: #778da9;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
@media (min-width: 768px) {
  .l-header {
    height: 80px;
  }
}
.l-header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.l-header__logo {
  width: 150px;
}
.l-header__hamburger {
  width: 30px;
  height: 30px;
  position: relative;
}
.l-header__hamburger .l-header__hamburger-line {
  width: 100%;
  height: 2px;
  background-color: #fdfcf8;
  position: absolute;
  transition: translate 0.3s ease, rotate 0.3s ease;
}
.l-header__hamburger .l-header__hamburger-line:first-child {
  top: 8px;
}
.l-header__hamburger .l-header__hamburger-line:last-child {
  top: 20px;
}
.l-header__hamburger.is-active .l-header__hamburger-line:first-child {
  translate: 0 7px;
  rotate: 135deg;
}
.l-header__hamburger.is-active .l-header__hamburger-line:last-child {
  translate: 0 -5px;
  rotate: -135deg;
}
@media (min-width: 768px) {
  .l-header__hamburger {
    display: none;
  }
}
.l-header__nav {
  position: fixed;
  left: 100%;
  top: 0;
  width: 100%;
  padding-block: 100px;
  background-color: rgba(119, 141, 169, 0.6431372549);
  transition: translate 0.5s ease, opacity 0.5s ease;
}
.l-header__nav.is-active {
  translate: -100% 0;
  opacity: 1;
}
@media (min-width: 768px) {
  .l-header__nav {
    position: static;
    width: auto;
    height: auto;
    padding-block: 0;
    background-color: transparent;
  }
}
.l-header__list {
  color: #fdfcf8;
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .l-header__list {
    display: flex;
    gap: 30px;
    align-items: center;
  }
}
.l-header__list-item {
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .l-header__list-item {
    margin-bottom: 0;
  }
}

.l-footer {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #778da9;
  text-align: center;
  color: #fdfcf8;
}
.l-footer__flex {
  padding-block: 4.375rem;
}
@media (min-width: 768px) {
  .l-footer__flex {
    display: flex;
    padding-block: 5rem;
    justify-content: space-between;
    align-items: center;
  }
}
.l-footer__logo {
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .l-footer__logo {
    width: 30%;
    margin-bottom: 0;
  }
}
.l-footer__logo-img {
  display: block;
  margin-inline: auto;
  width: 180px;
}
@media (min-width: 768px) {
  .l-footer__logo-img {
    width: 200px;
  }
}
.l-footer__contact {
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .l-footer__contact {
    margin-bottom: 0;
    width: 30%;
  }
}
.l-footer__contact-x {
  display: flex;
  width: fit-content;
  gap: 10px;
  align-items: center;
  margin-inline: auto;
}
.l-footer__contact-logo {
  display: inline-block;
  width: 1rem;
}
.l-footer__contact-text {
  display: inline-block;
}
@media (min-width: 768px) {
  .l-footer__nav {
    text-align: center;
    width: 30%;
  }
}
.l-footer__list-item:not(:last-child) {
  margin-bottom: 0.875rem;
}
@media (min-width: 768px) {
  .l-footer__list-item:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.l-footer__copy {
  color: #d4d8df;
  font-size: 0.75rem;
}

.p-top__mv {
  width: 100%;
  height: 100dvh;
  position: relative;
  background-color: #d4d8df;
}
.p-top__title {
  position: absolute;
  top: 50%;
  left: 16%;
  translate: 0 -50%;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .p-top__title {
    font-size: 4.5rem;
  }
}
.p-top__title span {
  display: block;
}

.p-top-works {
  background-color: #fff;
  padding-top: 100px;
}
@media (min-width: 768px) {
  .p-top-works {
    padding-top: 160px;
  }
}
.p-top-works__list {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #d4d8df;
  margin-bottom: 40px;
  display: flex;
  justify-content: safe center;
  padding: 10px;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .p-top-works__list {
    margin-bottom: 60px;
  }
}
.p-top-works__list-item {
  width: 220px;
  padding: 0.625rem;
  border-radius: 5px;
  box-shadow: 0 0 5px #c9c9c9;
  flex-shrink: 0;
  transition: scale 0.3s ease;
}
.p-top-works__list-item:hover {
  scale: 1.05;
}
.p-top-works__card {
  display: block;
}
.p-top-works__card-img {
  width: 100%;
  aspect-ratio: 4/3;
  margin-bottom: 1rem;
}
.p-top-works__card-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .p-top-works__card-title {
    font-size: 1.25rem;
  }
}
.p-top-works__card-category {
  display: inline-block;
  padding: 3px 5px;
  font-family: "Noto Sans JP", sans-serif;
  color: #777;
  background-color: #d4d8df;
  border-radius: 5px;
}

.p-top-about {
  background-color: #fdfcf8;
}
.p-top-about__flex {
  margin-inline: auto;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .p-top-about__flex {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    max-width: 760px;
    margin-bottom: 60px;
  }
}
.p-top-about__img {
  width: 200px;
  aspect-ratio: 1/1;
  margin-inline: auto;
  border-radius: 500px;
  margin-bottom: 1rem;
  background-color: #c9c9c9;
}
@media (min-width: 768px) {
  .p-top-about__img {
    flex-shrink: 0;
    margin-bottom: 0;
    margin-inline: 0;
  }
}
@media (min-width: 768px) {
  .p-top-about__body {
    flex: 1;
  }
}
.p-top-about__name {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .p-top-about__name {
    font-size: 1.25rem;
    text-align: left;
  }
}
.p-top-about__text {
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 1rem;
}
.p-top-about__category-item {
  display: inline-block;
  margin-block: 10px;
  background-color: #d4d8df;
  color: #777;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.75rem;
  font-family: "Noto Sans JP", sans-serif;
}
@media (min-width: 768px) {
  .p-top-about__category-item {
    font-size: 0.875rem;
    margin-bottom: 0;
  }
}

.p-top-contact {
  background-color: #fff;
  padding-bottom: 100px;
  text-align: center;
}
@media (min-width: 768px) {
  .p-top-contact {
    padding-bottom: 160px;
  }
}
.p-top-contact__btn {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .p-top-contact__btn {
    margin-bottom: 60px;
  }
}
.p-top-contact__note {
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
}
@media (min-width: 768px) {
  .p-top-contact__note {
    margin-bottom: 2.5rem;
  }
}
.p-top-contact__x {
  border: solid 2px #778da9;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  font-family: "Noto Sans JP", sans-serif;
  transition: scale 0.3s ease;
}
.p-top-contact__x span {
  display: inline-block;
  width: 0.875rem;
  margin-right: 0.5rem;
}
.p-top-contact__x:hover {
  scale: 0.95;
}

.p-archive-works {
  padding-block: 100px;
}
@media (min-width: 768px) {
  .p-archive-works {
    padding-block: 160px;
  }
}
.p-archive-works__text {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .p-archive-works__text {
    margin-bottom: 60px;
  }
}
.p-archive-works__list {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .p-archive-works__list {
    margin-bottom: 80px;
  }
}
.p-archive-works__item:not(:last-child) {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .p-archive-works__item:not(:last-child) {
    margin-bottom: 60px;
  }
}
.p-archive-works__card {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}
@media (min-width: 768px) {
  .p-archive-works__card {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}
.p-archive-works__card:hover {
  opacity: 0.8;
}
.p-archive-works__card:hover .p-archive-works__card-more {
  border-bottom: 1px solid currentColor;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .p-archive-works__item:nth-child(even) .p-archive-works__card {
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) {
  .p-archive-works__item:nth-child(even) .p-archive-works__card-body {
    text-align: right;
  }
}
.p-archive-works__card-img {
  background-color: #cdcdcd;
  width: 100%;
  aspect-ratio: 4/3;
  margin-bottom: 1rem;
  opacity: 0;
  translate: 0 50%;
  transition: opacity 1s ease, translate 1s ease;
}
@media (min-width: 768px) {
  .p-archive-works__card-img {
    width: 35%;
    margin-bottom: 0;
  }
}
.p-archive-works__card-img.is-active {
  opacity: 1;
  translate: 0 0;
}
.p-archive-works__card-body {
  font-family: "Noto Sans JP", sans-serif;
}
@media (min-width: 768px) {
  .p-archive-works__card-body {
    flex: 1;
  }
}
.p-archive-works__card-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .p-archive-works__card-title {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
}
.p-archive-works__card-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .p-archive-works__card-detail {
    margin-bottom: 2rem;
    gap: 0.625rem;
  }
}
.p-archive-works__card-more {
  text-align: right;
  border-bottom: solid 1px transparent;
  transition: border-bottom 0.3s ease, opacity 0.3s ease;
}
.p-archive-works__card-more::after {
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  rotate: 45deg;
  margin-left: 0.5em;
}

.p-about {
  padding-block: 100px;
}
@media (min-width: 768px) {
  .p-about {
    padding-block: 160px;
  }
}
.p-about__intro {
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 40px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .p-about__intro {
    margin-bottom: 60px;
    display: flex;
    gap: 1.5rem;
    max-width: 640px;
  }
}
.p-about__intro-img {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 500px;
  background-color: #ccc;
  margin-bottom: 1.5rem;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .p-about__intro-img {
    flex: 0 0 auto;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .p-about__intro-body {
    flex: 1;
  }
}
.p-about__intro-name {
  text-align: center;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .p-about__intro-name {
    text-align: left;
    margin-bottom: 1rem;
  }
}
.p-about__intro-name .ja {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.3125rem;
}
@media (min-width: 768px) {
  .p-about__intro-name .ja {
    font-size: 1.25rem;
  }
}
.p-about__intro-name .en {
  display: block;
  font-size: 0.8125rem;
  color: #777;
}
@media (min-width: 768px) {
  .p-about__intro-name .en {
    font-size: 0.875rem;
  }
}
.p-about__ability {
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .p-about__ability {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
.p-about__ability-block {
  width: 100%;
  padding: 0.3125rem 0.625rem;
  background-color: #d4d8df;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .p-about__ability-block {
    flex: 1;
  }
}
.p-about__ability-block.skills {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .p-about__ability-block.skills {
    margin-bottom: 0;
  }
}
.p-about__ability-title {
  text-align: center;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .p-about__ability-title {
    font-size: 1.25rem;
  }
}
.p-about__history {
  font-family: "Noto Sans JP", sans-serif;
  margin-inline: auto;
  width: 100%;
  max-width: 640px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .p-about__history {
    margin-bottom: 60px;
  }
}
.p-about__history-title {
  cursor: pointer;
  list-style: none;
  text-align: center;
  margin-inline: auto;
  font-size: 0.75rem;
  width: 250px;
  background-color: #ccc;
  border-radius: 100px;
  margin-bottom: 1rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.p-about__history-title:hover {
  opacity: 0.7;
}
.p-about__history-title::after {
  content: "＋";
  margin-left: 0.5em;
}
@media (min-width: 768px) {
  .p-about__history-title {
    font-size: 0.875rem;
  }
}
.p-about__history[open] .p-about__history-title::after {
  content: "ー";
}
.p-about__history-list {
  background-color: #fff;
  padding: 0.625rem;
}
.p-about__history-term {
  display: inline-block;
  width: 20%;
  margin-right: 3%;
  text-align: right;
}
.p-about__history-term:not(:last-child) {
  margin-bottom: 0.5rem;
}
.p-about__history-desc {
  display: inline-block;
  width: 75%;
}

/*# sourceMappingURL=style.css.map */
