@use '../base/variables' as *;

.p-about{
    &__intro{
        margin-bottom: $spacing-sp-sm;
        margin-inline: auto;
        @include mq{
            margin-bottom: $spacing-pc-sm;
            display: flex;
            gap: 3vw;
            max-width: 890px;
            align-items: center;
        }
        &-img{
            width: 200px;
            aspect-ratio: 1 / 1;
            border-radius: 500px;
            overflow: hidden;
            box-shadow: 0 0 10px $color-theme-accent;
            background-color: #ccc;
            margin-bottom: rem(24);
            margin-inline: auto;
            @include mq{
                flex: 0 0 auto;
                margin-bottom: 0;
            }
        }
        &-body{
            @include mq{
                flex: 1;
            }
        }
        &-name{
            text-align: center;
            margin-bottom: rem(24);
            line-height: $line-height-tight;
            @include mq{
                text-align: left;
                margin-bottom: rem(16);
            }
            .ja{
                display: block;
                font-size: rem(16);
                margin-bottom: rem(5);
                @include mq{
                    font-size: rem(20);
                }
            }
            .en{
                display: block;
                font-size: rem(13);
                color: $color-text-sub;
                font-family: $font-family-en;
                @include mq{
                    font-size: rem(14);
                }
            }
        }
    }
    &__ability{
        margin-bottom: $spacing-sp-sm;
        font-size: rem(12);
        line-height: $line-height-wide;
        @include mq{
            margin-bottom: $spacing-pc-sm;
            display: flex;
            justify-content: center;
            gap: rem(16);
            font-size: rem(14);
        }
        &-block{
            width: 100%;
            padding: rem(10) rem(10);
            background-color: $color-theme-sub;
            border-radius: 5px;
            @include mq{
                flex: 1;
            }
            &.skills{
                margin-bottom: rem(16);
                @include mq{
                    margin-bottom: 0;
                }
            }
        }
        &-title{
            text-align: center;
            font-size: rem(16);
            font-family: $font-family-en;
            @include mq{
                font-size: rem(20);
            }
        }
        &-list{
            display: grid;
            grid-template-columns: max-content 1fr;
        }
        &-item{
            display: grid;
            grid-column: 1/-1;
            grid-template-columns: subgrid;
            .title{
                text-align: right;
                font-weight: 500;
                &::after{
                    content: "：";
                }
            }
        }
    }
    &__history{
        margin-inline: auto;
        width: fit-content;
        margin-bottom: $spacing-sp-sm;
        @include mq{
            margin-bottom: $spacing-pc-sm;
        }
        &-title{
            cursor: pointer;
            list-style: none;
            text-align: center;
            margin-inline: auto;
            font-size: rem(12);
            width: 250px;
            background-color: #ccc;
            border-radius: 100px;
            margin-bottom: rem(16);
            opacity: 1;
            transition: opacity .3s ease;
            &:hover{
                opacity: .7;
            }
            &::after{
                content: "＋";
                margin-left: .5em;
            }
            @include mq{
                font-size: rem(14);
            }
        }
        &[open]{
            .p-about__history-title::after{
                content: "ー";
            }
        }
        &-list{
            display: grid;
            grid-template-columns: max-content 1fr;
            gap: .3em 3%;
            background-color: #fff;
            padding: rem(10);
        }
        &-term{
            text-align: right;
        }
    }
}